<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1">
    <test name="chromeTest">
        <groups>
            <run>
                <include name="Sanity"></include>
            </run>
        </groups>
        <classes>
            <class name="TestObject.Assignment"></class>
            <class name="TestObject.MultipleSearchAssignment"></class>
        </classes>
    </test>
</suite>
