<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" >
    <test name="chromeTest">
        <groups>
            <run>
                <include name="Sanity"></include>
            </run>
        </groups>
        <classes>
            <class name="TestObject.Assignment"></class>
            <class name="TestObject.DataProviderClass"></class>
        </classes>
    </test>
</suite>
